---
import Layout from '@/layouts/Base.astro';
import HeroSection from '@/components/HeroSection.astro';
import { getCollection } from 'astro:content';
import HandbookSection from '@/components/handbook/HandbookSection.astro';
import HandbookNavigation from '@/components/handbook/HandbookNavigation.astro';

const handbook = (await getCollection('handbook')).sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Håndbok" description="Kynds håndbok for ansatte">
  <HeroSection
    title="Kynds håndbok"
    preamble={`Personalhåndboka til Kynd er et levende dokument, som blir til mens vi skaper Kynd. Det som funker i dag, funker ikke nødvendigvis i morgen.

Boka gir et innblikk i hvordan vi gjør ting i Kynd. Det er bare å snoke i vei!`}
  />
  <div class="handbook-container">
    <HandbookNavigation
      items={handbook.map((entry) => ({ id: entry.id, title: entry.data.title }))}
    />
    <div class="handbook-entries">
      {handbook.map((entry) => <HandbookSection {...entry} />)}
    </div>
  </div>
</Layout>

<style>
  html {
    scroll-padding-block-start: calc(var(--size-header) + 3rem);

    @media (--md) {
      scroll-padding-block-start: var(--size-header);
    }
  }

  .handbook-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (--md) {
      grid-template-columns: 15rem 1fr;
      gap: 4rem;
    }
  }

  .handbook-entries {
    display: grid;
    gap: 4rem;

    @media (--md) {
      gap: 8rem;
    }
  }
</style>
