---
import Layout from '@/layouts/Base.astro';
import HeroSection from '@/components/HeroSection.astro';
import { getCollection } from 'astro:content';
import HandbookSection from '@/components/handbook/HandbookSection.astro';
import HandbookNavigation from '@/components/handbook/HandbookNavigation.astro';
import Split from '@/components/layout/Split.astro';

const handbook = (await getCollection('handbook')).sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Håndbok" description="Kynds håndbok for ansatte">
  <HeroSection
    title="Kynds håndbok"
    preamble={`Personalhåndboka til Kynd er et levende dokument, som blir til mens vi skaper Kynd. Dette er detaljversjonen for deg som vil dykke dypere.

Boka gir et innblikk i hvordan vi gjør ting i Kynd. For en kortversjon av kultur og forventninger, se /bli-en-av-oss.`}
  />
  <Split minBreakpoint="md" gap="4rem" columns="15rem 1fr">
    <div slot="left">
      <HandbookNavigation
        items={handbook.map((entry) => ({ id: entry.id, title: entry.data.title }))}
      />
    </div>
    <div slot="right" class="handbook-entries">
      {handbook.map((entry) => <HandbookSection {...entry} />)}
    </div>
  </Split>
</Layout>

<style>
  html {
    scroll-padding-block-start: calc(var(--size-header) + 3rem);

    @media (--md) {
      scroll-padding-block-start: var(--size-header);
    }
  }

  .handbook-entries {
    display: grid;
    gap: 4rem;

    @media (--md) {
      gap: 8rem;
    }
  }
</style>
