---
import teamImage from '@/assets/felles-1.jpg';
import ContactUs from '@/components/ContactUs.astro';
import HeroSection from '@/components/HeroSection.astro';
import Image from '@/components/Image.astro';
import PageSection from '@/components/PageSection.astro';
import Prose from '@/components/Prose.astro';
import Layout from '@/layouts/Base.astro';
import Card from '@/components/Card.astro';
---

<Layout>
  <HeroSection
    title="Something forfriskende, kynd"
    preamble="En gjeng kompetente folk som bygger et annerledes konsulentbyrå sammen."
    image="/patterns/pattern-0.svg"
  />
  <PageSection heading="Team" subheading="Vi skaper kynd sammen">
    <Prose align="right" readMore={{ href: '/folka' }}>
      <p>
        Kynd ble stiftet i 2024 av tre amigos - Daniel, Frederik og Axel - som har gått sammen om å
        lage en transparent, spennende og nytenkende arbeidsplass. Vi er et konsulentbyrå innen
        fullstack softwareutvikling, organisasjonsdesign og smidig produkt-, team og
        endringsledelse.
      </p>
    </Prose>
    <Image
      src={teamImage}
      alt="Tre amigos - Axel, Daniel og Frederik - står foran en gul vegg med armene i kryss og ser ganske så fornøyde ut"
      loading="eager"
    />
  </PageSection>

  <PageSection heading="Tjenester" subheading="Hva kan vi hjelpe deg med?">
    <div class="services-grid">
      <Card
        variant="default"
        heading="Fullstack"
        subheading="Softwareutvikling"
        linkText="Lær mer"
        linkHref="/tjenester/fullstack"
      />

      <Card
        variant="green"
        heading="Design"
        subheading="UX/UI"
        linkText="Lær mer"
        linkHref="/tjenester/design"
      />

      <Card
        variant="black"
        heading="Digital"
        subheading="Strategi"
        linkText="Lær mer"
        linkHref="/tjenester/strategi"
      />
    </div>
  </PageSection>
  <PageSection
    heading="Kontakt oss"
    subheading="Nysgjerrig på samarbeid, enten som medeier eller kunde? Hit us up!"
  >
    <ContactUs />
  </PageSection>
</Layout>

<style>
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  @media (max-width: 48em) {
    .services-grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
