---
import ContactUs from '@/components/ContactUs.astro';
import HeroSection from '@/components/HeroSection.astro';
import OffsetProseSection from '@/components/OffsetProseSection.astro';
import PageSection from '@/components/PageSection.astro';
import Layout from '@/layouts/Base.astro';
import LinkCard from '@/components/LinkCard.astro';
// import Link from '@/components/Link.astro';
---

<Layout>
  <HeroSection
    title="Something forfriskende, kynd"
    preamble="En gjeng kompetente folk som bygger et annerledes konsulentbyrå sammen."
    image="/patterns/pattern-0.svg"
  />
  <OffsetProseSection heading="Team is everything">
    <p>
      Kynd ble stiftet i 2024 med ambisjon om å lage en transparent, spennende og nytenkende
      arbeidsplass. Vi er et teknologi- og produktbyrå som hjelper organisasjoner med å løse
      vanskelige problemer, bygge bedre team og få bedre produkter, raskere.
    </p>
  </OffsetProseSection>

  <PageSection heading="Tjenester" accentHeading={false}>
    <div class="services-grid">
      <LinkCard
        variant="default"
        heading="Partnerskap for problemløsing"
        href="/tjenester#partnerskap"
      />
      <LinkCard variant="green" heading="Kapasitet og kompetanse" href="/tjenester#kompetanse" />
      <LinkCard
        variant="black"
        heading="Produktfilosofi og sosioteknisk design"
        href="/tjenester#produktfilosofi"
      />
    </div>
  </PageSection>
  <!-- <PageSection
    heading="Kontakt oss"
    subheading="Nysgjerrig på samarbeid, enten som kunde eller kompanjong? Hit us up!"
  > -->
  <ContactUs />
</Layout>

<style>
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  @media (max-width: 48em) {
    .services-grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
