---
import Image, { type Props as ImageProps } from './Image.astro';

export type Props = {
  bigImage: ImageProps;
  smallImage: ImageProps;
  text: string;
};

const { bigImage, smallImage, text } = Astro.props;
---

<div class="dual-image">
  <Image {...bigImage} />
  <div class="small-image-container">
    <Image {...smallImage} />
    <p>{text}</p>
  </div>

  <style>
    .dual-image {
      display: grid;
      row-gap: 2rem;
      column-gap: 4rem;

      @media (--md) {
        grid-template-columns: 3fr 2fr;
      }
    }

    .small-image-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  </style>
</div>
