---
import Logo from '@/components/Logo.astro';
import NavLink from '@/components/NavLink.astro';
---

<header>
  <div class="header-content">
    <a href="/" aria-label="Forside" class="logo-link"><Logo /></a>
    <nav>
      <!-- <NavLink href="/tjenester">Tjenester</NavLink> -->
      <!-- <NavLink href="/kontakt-oss" isButton>Kontakt oss</NavLink> -->
      <NavLink href="/prosjekter">Prosjekter</NavLink>
      <NavLink href="/om-oss" isButton>Om oss</NavLink>
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    padding-block: 1rem;
    z-index: 10;
  }

  .header-content {
    inline-size: min(var(--content-max-width), 100% - 2 * var(--content-padding));
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .logo-link {
    display: flex;
    inline-size: 6.25rem;
    flex-shrink: 0;
  }

  nav {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-inline-start: auto;

    @media (--md) {
      column-gap: 2.5rem;
    }
  }
</style>
